@model List<Project1Portfolio.Models.Profile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<table class=" table table-bordered">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Açıklama</th>
        <th>Adres</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Github</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProfileId</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Adress</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Github</td>
            <td><a href="/Profile/DeleteProfile/@item.ProfileId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Profile/UpdateProfile/@item.ProfileId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<td><a href="/Profile/CreateProfile/" class="btn btn-info">Yeni Profil Girişi</a></td>
