
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">İstatistikler</h2>

<div class="alert alert-info">Toplam Mesaj Sayısı: <b>@ViewBag.messageCount</b></div>
<div class="alert alert-warning">Okunmus Mesaj Sayısı: <b>@ViewBag.messageCountIsReadByTrue</b></div>
<div class="alert alert-danger">Okunmamıs Mesaj Sayısı: <b>@ViewBag.messageCountIsReadByFalse</b></div>
<div class="alert alert-success">Yetenek Sayısı: <b>@ViewBag.skillCount</b></div>
<div class="alert alert-primary">Toplam Yetenek Puanı: <b>@ViewBag.totalSkillValue</b></div>
<div class="alert alert-secondary">Ortalama Yetenek Puanı: <b>@ViewBag.averageSkillValue</b></div>
<div class="alert alert-dark" style="background-color:lightpink">Mevcut E-Mail: <b>@ViewBag.getEmailFromProfile</b></div>
<div class="alert alert-dark" style="background-color:orangered">Son Eklenen Kategori: <b>@ViewBag.getLastCategoryName</b></div>
